<div style="font-family: Arial, sans-serif; background-color: #f0f0f0; padding: 20px; text-align: center;">
    <div style="background-color: #fff; max-width: 600px; margin: 0 auto; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

        <h2 style="color: #007bff;">Hello from the Game Loan team 🎮</h2>
        <p>To confirm your registration, please click the button below.</p>

        <div style="text-align: center; margin-top: 20px;">
            <a style="text-decoration: none; background-color: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; display: inline-block; font-weight: bold;" href="{{frontendUrl}}/users/confirm/{{token}}">Confirm</a>
        </div>

    </div>
</div>